[tool.poetry]
name = "bifabrik"
version = "0.1.9"
description = "Microsoft Fabric ETL toolbox"
authors = ["Radovan JankoviÄ"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
